table { 
  
  font-size:16px; 
  width:45%;
  
 margin-left:5%;
 margin-top:2%;



} 
@media screen {body{background-color: lightgreen; }}
th { 

  padding:10px;
} 
td { 
  vertical-align: top;

  float left: 5%;

  padding:5px;
} 
div.row span.left {  float: left;  text-align: left;  }
div.row span.right {  float: right:50%;  text-align: right; width: 500%;}

.hei {
  height:100px;
  vertical-align: top;

 

}
.pic { length:60%;
width:100%; 
}
